/* #row{
    display: flex;
}   
#wapper{
    z-index: 10;
     position: sticky;
      top: 0;
      left: -5000px;  
  }
  #header1{
    width: 200px;
     background-color: black;
     border-radius: 10px;
     width: 100%;
     position: relative;
     text-align: center;
 }
 #main-menu{
    padding-left: 0px;
     list-style: none;
     margin-bottom: 0px;
 }
 #main-menu li{
     width: 200px;
     position: relative;
 }
 #main-menu li a{
     color: white;
     display: block;
     padding: 18px ;
     text-decoration: none;
     z-index: 10;
 }
 #main-menu ul.sub-menu{
     position: absolute;
     background-color: rgb(77, 72, 72);
     padding: 8px 0px;
     list-style: none;
     width: 160px;
     border-bottom: 1px solid rgb(80, 78, 78);
     top: 0;
     display: none; 
    border-radius: 5px;
 }
 #main-menu li:hover ul.sub-menu{
    display: block;
    left: 100%;
 }
 #main-menu ul.sub-menu a{
     padding: 8px 0px;
     width: 160px;
     border-bottom: 1px solid rgb(80, 78, 78);
     z-index: 10;
  
 }
 #main-menu ul.sub-menu li:hover a{
     border-bottom: 1px solid rgb(125, 123, 123);
 }
 #main-menu ul.sub-menu li:last-child a{
  border: none;
 }
 #main-menu>li>a::before{
     content: "";
     height: 4px;
     width: 0px;
     background-color: red;
     position: absolute;
     bottom: 0px;
     left: 0px;
     transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
 }
 #main-menu>li:hover>a::before{
     width: 100%;
 }
 .infor__login{
    text-align: center;
    color: white;
 } */

 #main-menu>li:hover>a{
    background-color:red;
}
#main-menu{
    padding-left: 0px;
     list-style: none;
     margin-bottom: 0px;
 }
 #wapper{
    
    background-color: black;
    width: 100%;
   height: 937px;
    text-align: center;
    
  }
  #header1{
  
    background-color:blue;
     position: sticky;
      top: 0;
 }
 #main-menu li a{
    color: white;
    display: block;
    padding: 18px ;
    text-decoration: none;
}